
.styleA {
    height: 65px;
    margin-top: -1px;
    padding: 0 30px;
}

.styleB {
    height: 410px;
}

.styleC {
    max-width: 700px;
}

.styleD {
    width: 45px;
    height: 45px;
}

.styleE {
    padding: 30px;
}

.styleF {
    z-index: 1;
}

.styleG {
    width: calc( 100% - 30px );
    z-index: 1;
}

.styleH {
    min-height: 300px;
}

.styleI {
    width: 50px;
}

.styleJ {
    width: 100px;
}

.styleK {
    width: 130px;
}

.styleL {
    width: 45px;
}